@media(max-width:1350px){
    .header__decor-text--1{
        right: 246px;

    }
    .header__decor-text--2{
        right: 649px;
    }
     .header__decor-text--3{
        top: 1222px;
        right: 215px;
     }
    
}